@font-face{
  font-family: 'PublicPixel';
  src: url('./fonts/PublicPixel.ttf') format('opentype');
}

.retro-shadow {
  display: flex;
  justify-content: left;
  align-items: left;
  font-size: 0.8rem;
  text-transform: uppercase;
  font-family: 'PublicPixel';
  font-weight: 50px;
  color: white; 
  text-shadow:
    1px 3px 3px rgba(246, 149, 149, 0.4),
    1px 30px 60px rgba(16,16,16,0.4);
}

.timer {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 8em;
  text-transform: uppercase;
  font-family: 'PublicPixel';
  font-weight: 700;
  color: white;
  text-shadow: 10px 10px pink;
}