input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
-webkit-appearance: none;
margin: 0;
text-align:right;
}

input[type="number"] {
width: 40px;
height: 25px; 
padding: 2px;
font-size: 14px;
font-family: 'PublicPixel';
text-align: right;
}  

.settingsbutton {
position: absolute;
top: 10px;
right: 1em;
width: 25px;
height: 25px;
cursor: pointer;
border: none;
outline: none;
padding: 0;
background-color: transparent;
background-image: linear-gradient(90deg, #010101 25%, #808080 50%, #010101 75%);
background-size: 200% 200%;
animation: gradientAnimation 20s ease-in-out infinite;
}

.settings-icon {
background-image: url(./images/settings.png);
background-repeat: no-repeat;
background-size: contain;
background-position: center;
}

.settings-button {
background-color: #ccc;
border: none;
border-radius: 5px;
color: #fff;
cursor: pointer;
padding: 10px;
}

@font-face{
  font-family: 'PublicPixel';
  src: url('./fonts/PublicPixel.ttf') format('opentype');
}

.settings-content{
color: #000000;
font-family: 'PublicPixel'; 
font-size: 0.9rem;
display: flex;
flex-direction: column;
justify-content: space-between;
}

.settings-content div {
  margin-bottom: 7px;
  text-align: right;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.settings-modal {
background-color: #fff;
border-radius: 10px;
box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
display: none;
padding: 15px;
position: fixed;
top: 6.1%;
left: 82.25%;
max-width: 250px;
max-height: 150px;
overflow: auto;
z-index: 1;
}

.settings-modal.show {
display: block;
animation: blockyAppear 1.6s forwards;
}

/*Settings modal animation*/
@keyframes blockyAppear {
0% {
width: 0;
height: 0;
background-size: 0% 0%;
}
100% {
width: 250px;
height: 150px;
background-size: 100% 100%;
}
}


