.input-number {
position: relative;
width: 100px;
height: 40px;
background-color: transparent;
overflow: hidden;
border-radius: 20px;
margin: 2px;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
-webkit-appearance: none;
margin: 0;
text-align:right;
}

input[type="number"] {
width: 40px;
height: 25px; 
padding: 2px;
font-size: 14px;
font-family: 'PublicPixel';
text-align: right;
}  


.input-number span {
position: absolute;
left: 50%;
margin-left: -20px;
display: inline-block;
background-color: white;
height: 100%;
width: 40px;
border-radius: 20px;
text-align: center;
line-height: 40px;
font-size: 16px;
color: #6C6DFF;
letter-spacing: -1px;
}

.input-number-button {
display: inline-block;
width: 50px;
height: 100%;
background-color: transparent;
border: none;
color: white;
font-size: 20px;
cursor: pointer;
background-color: rgba(255,255,255,.2);
transition: background-color .2s ease;
}

.input-number button:nth-of-type(1) {
padding-right: 20px
}

.input-number button:nth-of-type(2) {
padding-left: 20px;
}

.input-number button:hover {
background-color: rgba(255,255,255,.25);
}

.settingsbutton {
position: absolute;
top: 10px;
right: 1em;
width: 25px;
height: 25px;
cursor: pointer;
border: none;
outline: none;
padding: 0;
background-color: transparent;
background-image: linear-gradient(90deg, #010101 25%, #808080 50%, #010101 75%);
background-size: 200% 200%;
animation: gradientAnimation 20s ease-in-out infinite;
}

.settings-icon {
background-image: url(./images/settings.png);
background-repeat: no-repeat;
background-size: contain;
background-position: center;
}

.settings-panel {
position: relative;
display: inline-block;
}

.settings-button {
background-color: #ccc;
border: none;
border-radius: 5px;
color: #fff;
cursor: pointer;
padding: 10px;
}

@font-face{
  font-family: 'PublicPixel';
  src: url('./fonts/PublicPixel.ttf') format('opentype');
}

.settings-content{
color: #000000;
font-family: 'PublicPixel'; 
font-size: 0.9rem;
display: flex;
flex-direction: column;
justify-content: space-between;
}

.settings-content div {
  margin-bottom: 7px;
  text-align: right;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.settings-modal {
background-color: #fff;
border-radius: 10px;
box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
display: none;
padding: 15px;
position: fixed;
top: calc(15.4% - 75px);
left: calc(93.1% - 150px);
width: 250px;
height: 150px;
z-index: 1;
}

.settings-modal:before {
content: "";
display: block;
position: absolute;
top: -7px;
right: 10px;
border-bottom: 10px solid #fff;
border-left: 10px solid transparent;
border-right: 10px solid transparent;
animation: vanish 2.5s ease-out forwards;
}

.settings-modal:after {
content: "";
display: block;
position: absolute;
top: -11px;
right: 20px;
}

.settings-modal.show {
display: block;
animation: blockyAppear 1.6s forwards;
}

/*Settings modal animation*/
@keyframes blockyAppear {
0% {
width: 0;
height: 0;
background-size: 0% 0%;
}
100% {
width: 250px;
height: 150px;
background-size: 100% 100%;
}
}

@keyframes vanish {
from {
opacity: 0;
transform: translateY(50px);
}
to {
opacity: 1;
transform: translateY(0);
}
}
